*{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}
.visor{
    height: 5vh;
    width: 22vw;
    border: solid 2px black;
    border-radius: 5px;
    padding-left: 0.2vw;
    font-size: 1.3rem;
}
.secao{
    position: absolute;
    top: 20%;
    left: 35%;
    width: 25vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5vw;
    border: solid 2px black;
    border-radius: 10px;
    padding: 1vh 0.5vw 1vh;
}
button{
    width: 10vw;
    height: 5vh;
    border: solid 2px black;
    border-radius: 5px;
    font-size: 1.2rem;
    transition:  0.5s all;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.secao_resposta{
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    position: absolute;
    top: 40%;
    left: 34%;
    padding: 2vh 2vw 1vh;
    border-radius: 10px;
    border: solid 3px black;
}
.resposta{
    width: fit-content;
    height: 6vh;
    border: 5px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 1vh 1vw 1vh;
}
